<% provide(:title, 'All Anecdotes') %>
<h1>All Anecdotes</h1>
<h2>
<%= link_to "Create Anecdotes", newanecdote_path,
                                class: "btn btn-large btn-primary" %>
</h2>

<ul class="anecdotes">
	<% @anecdotes.each do |anecdote| %>
  	<%= render anecdote %>
  	<ul>
  		<% if anecdote.chapter_id %>
  			<li>Concern the Chapter n° <%= "#{Chapter.find(anecdote.chapter_id).number} : #{Chapter.find(anecdote.chapter_id).title}" %></li>
			<% end %>
  	<%= link_to "Edit", edit_anecdote_path(anecdote) %>
		<%= link_to "Delete", anecdote, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </ul>
    <br>
  <% end %>
</ul>