<% provide(:title, @anecdote.id) %>
<h1><%= @anecdote.subject %></h1>
<h2>
Anecdote ID : <%= @anecdote.id %> <br>
<%= link_to "Edit", edit_anecdote_path(@anecdote) %>
<%= link_to "Delete", @anecdote, method: :delete,
                                  data: { confirm: "You sure?" } %>
</h2>
<% if @anecdote.chapter %>
	<strong>Is bound to </strong>
	<ul>
		<%= render @anecdote.chapter %>
	</ul>
	<%= render 'shared/unbind', object: @anecdote %>
<% else %>
	<strong>Isn't bound to any Chapter yet</strong>
	<%= render 'bind', anecdote: @anecdote %>
<% end %>
Content :
<br>
<span>
	<%= @anecdote.content %>
</span>