<% provide(:title, @scene.id) %>
<h1>Scene n°<%= @scene.id %></h1>
<h2>
	Scene Location : <%= @scene.location %>
	<br>
	Scene Period : <%= @scene.period %>
	<br>

  <%= link_to "Edit", edit_scene_path(@scene) %>
  <%= link_to "Delete", @scene, method: :delete,
                                  data: { confirm: "You sure?" } %>
    
</h2>

Content : 
<br>
<%= @scene.content %>
<br><br>
<% if @scene.chapter %>
  <strong> Is bound to </strong>
  <ul>
    <%= render @scene.chapter %>
  </ul>
<% else %>
  <strong>Isn't bound to any Chapter yet</strong>
<% end %>
<% if @scene.characters.any? %>
	<br>
	<div class="characters">
		<strong id="characters" class="stat">
    	There is <%= pluralize(@scene.characters.count, "character") %> appearing in this scene :
    </strong>
		<ul>
    <% @scene.characters.each do |character| %>
    	<li>
      <%= link_to character.name, character %>
      </li>
    <% end %>
  	</ul>
  </div>
<% end %>