<% provide(:title, @scene.id) %>
<h1>Scene n°<%= @scene.id %></h1>
<h2>
	Scene Location : <%= @scene.location %>
	<br>
	Scene Period : <%= @scene.period %>
	<br>

  <%= link_to "Edit", edit_scene_path(@scene) %>
  <%= link_to "Delete", @scene, method: :delete,
                                  data: { confirm: "You sure?" } %>
    
</h2>

Content : 
<br>
<%= @scene.content %>
<br><br>
<% if @scene.chapter %>
  <strong> Is bound to </strong>
  <ul>
    <%= render @scene.chapter %>
  </ul>
  <%= render 'shared/unbind', object: @scene %>
<% else %>
  <strong>Isn't bound to any Chapter yet</strong>
  <%= render 'bind', scene: @scene%>
<% end %>

<strong>Add character to the scene :</strong>
<%= form_for(CharacterRelationship.new) do |f| %>
  <%= collection_select(:character, :character_id, Character.all, :id, :name, prompt: true) %>
  <%= f.hidden_field :scene_id, value: @scene.id %>
  <%= f.submit "Add to scene", class: "btn btn-small" %>
<% end %>

<% if @scene.characters.any? %>
	<br>
	<div class="characters">
		<strong id="characters" class="stat">
    	There is <%= pluralize(@scene.characters.count, "character") %> appearing in this scene :
    </strong>
		<ul>
    <% @scene.characters.each do |character| %>
    	<li>
      <%= link_to character.name, character %>
        <%= form_for(CharacterRelationship.find_by(scene_id: @scene.id, character_id: character.id),
                     html: { method: :delete }) do |f| %>
          <%= f.submit "Remove from scene", class: "btn btn-small" %>
        <% end %>
      </li>
    <% end %>
  	</ul>
  </div>
<% end %>