<% provide(:title, @character.name) %>
<h1><%= @character.name %></h1>
<h2>Character ID : <%= @character.id %></h2>

<strong>Add appearance to the character :</strong>
<%= form_for(CharacterRelationship.new) do |f| %>
	<%= collection_select(:scene, :scene_id, Scene.all, :id, :id, prompt: true) %>
	<%= f.hidden_field :character_id, value: @character.id %>
	<%= f.submit "Appear in scene", class: "btn btn-small" %>
<% end %>

<% if @character.appearances.any? %>
	<div class="appearances">
		<strong id="appearances" class="stat">
    	Appear in <%= pluralize(@character.appearances.count, "scene") %> : 
    </strong>
		<ul>
	    <% @character.appearances.each do |scene| %>
	    	<li>
	      <%= link_to "Scene n° #{scene.id} : #{scene.location}, #{scene.period}", scene %>
	      <%= form_for(CharacterRelationship.find_by(scene_id: scene.id, character_id: @character.id),
				             html: { method: :delete }) do |f| %>
				  <%= f.submit "Disappear from scene", class: "btn btn-small" %>
				<% end %>
	      </li>
	    <% end %>
	  </ul>
  </div>
<% end %>

<%= link_to "Edit", edit_character_path(@character) %>
<%= link_to "Delete", @character, method: :delete,
                                  data: { confirm: "You sure?" } %>
