<% provide(:title, "Edit chapter") %>
<h1>Update the Chapter details</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@chapter) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :number %>
      <%= f.text_field :number %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
